<div class="ei-global-header" id="header">
  <div class="ei-global-header-content">
    <div class="ei-global-menu">
      <div class="ei-menu-toggle  js-menu-toggle">
        
      </div>
      <div class="ei-menu  js-menu">
        <a class="ei-menu-link loginBtn">Login</a>
        <a class="ei-menu-link joinBtn">Join Elfster</a>
        <a class="ei-menu-link" href="/wish/">Shop</a>
      </div></div>
      <a class="ei-global-logo" href="/">
        <span class="ei-is-hidden">Musshi-Test</span>
      </a>
      <div class="ei-global-search">
        <div class="search elf-form ei-search-full" id="searchContainer">
          <span role="status" aria-live="polite" class="ui-helper-hidden-accessible"></span>
          <input type="text" id="searchText" class="ui-autocomplete-input" autocomplete="off">
          <a class="js-default-btn" id="searchBtn"></a>
        </div>
        <a class="ei-search-btn" id="btnMobileSearch" href="/wish/"></a>
      </div>
      <div class="ei-global-quick-links  ei-menu">
        <a class="ei-menu-link ei-menu-link--login loginBtn">login</a>
        <a class="ei-menu-link joinBtn">join elfster</a>
        <a class="ei-menu-link" href="/wish/">shop</a>
      </div>
    </div><!-- END .ei-global-header-content -->
  </div>
</div>